In [9]:
import os
os.listdir("../data/raw")

['LCDataDictionary.xlsx', 'loan.csv']

In [12]:
import os, textwrap
print("Current working directory:\n", os.getcwd(), "\n")
print("Contents of current dir:\n", os.listdir(os.getcwd()), "\n")

# also show parent and project root candidates
parent = os.path.abspath(os.path.join(os.getcwd(), ".."))
root_candidate = "C:/Credit-risk-scoring"
print("Parent dir:", parent)
print("Contents of parent:\n", os.listdir(parent) if os.path.exists(parent) else "Not found")
print("\nRoot candidate:", root_candidate)
print("Contents of root candidate:\n", os.listdir(root_candidate) if os.path.exists(root_candidate) else "Not found")

Current working directory:
 C:\Credit-risk-scoring\notebooks

Contents of current dir:
 ['.ipynb_checkpoints', '01_EDA.ipynb', '02_Feature_Engineering.ipynb', '03_Model_Training.ipynb', '04_Model_Evaluation.ipynb']

Parent dir: C:\Credit-risk-scoring
Contents of parent:
 ['data', 'models', 'notebooks', 'src', 'venv']

Root candidate: C:/Credit-risk-scoring
Contents of root candidate:
 ['data', 'models', 'notebooks', 'src', 'venv']

In [14]:
import pandas as pd

df = pd.read_csv("../data/raw/loan.csv", low_memory=False)

df.head()

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,...,hardship_payoff_balance_amount,hardship_last_payment_amount,disbursement_method,debt_settlement_flag,debt_settlement_flag_date,settlement_status,settlement_date,settlement_amount,settlement_percentage,settlement_term
0,NaN,NaN,2500,2500,2500.0,36 months,13.56,84.92,C,C1,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,30000,30000,30000.0,60 months,18.94,777.23,D,D2,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,5000,5000,5000.0,36 months,17.97,180.69,D,D1,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,4000,4000,4000.0,36 months,18.94,146.51,D,D2,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,30000,30000,30000.0,60 months,16.14,731.78,C,C4,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2260668 entries, 0 to 2260667
Columns: 145 entries, id to settlement_term
dtypes: float64(105), int64(4), object(36)
memory usage: 2.4+ GB

In [16]:
df.isna().sum().sort_values(ascending=False).head(20)

id                                            2260668
member_id                                     2260668
url                                           2260668
orig_projected_additional_accrued_interest    2252242
hardship_amount                               2250055
hardship_dpd                                  2250055
hardship_loan_status                          2250055
deferral_term                                 2250055
hardship_end_date                             2250055
hardship_status                               2250055
hardship_start_date                           2250055
hardship_reason                               2250055
hardship_type                                 2250055
hardship_payoff_balance_amount                2250055
hardship_last_payment_amount                  2250055
hardship_length                               2250055
payment_plan_start_date                       2250055
debt_settlement_flag_date                     2227612
settlement_term                               2227612
settlement_amount                             2227612
dtype: int64

In [17]:
df.columns.tolist()

['id',
 'member_id',
 'loan_amnt',
 'funded_amnt',
 'funded_amnt_inv',
 'term',
 'int_rate',
 'installment',
 'grade',
 'sub_grade',
 'emp_title',
 'emp_length',
 'home_ownership',
 'annual_inc',
 'verification_status',
 'issue_d',
 'loan_status',
 'pymnt_plan',
 'url',
 'desc',
 'purpose',
 'title',
 'zip_code',
 'addr_state',
 'dti',
 'delinq_2yrs',
 'earliest_cr_line',
 'inq_last_6mths',
 'mths_since_last_delinq',
 'mths_since_last_record',
 'open_acc',
 'pub_rec',
 'revol_bal',
 'revol_util',
 'total_acc',
 'initial_list_status',
 'out_prncp',
 'out_prncp_inv',
 'total_pymnt',
 'total_pymnt_inv',
 'total_rec_prncp',
 'total_rec_int',
 'total_rec_late_fee',
 'recoveries',
 'collection_recovery_fee',
 'last_pymnt_d',
 'last_pymnt_amnt',
 'next_pymnt_d',
 'last_credit_pull_d',
 'collections_12_mths_ex_med',
 'mths_since_last_major_derog',
 'policy_code',
 'application_type',
 'annual_inc_joint',
 'dti_joint',
 'verification_status_joint',
 'acc_now_delinq',
 'tot_coll_amt',
 'tot_cur_bal',
 'open_acc_6m',
 'open_act_il',
 'open_il_12m',
 'open_il_24m',
 'mths_since_rcnt_il',
 'total_bal_il',
 'il_util',
 'open_rv_12m',
 'open_rv_24m',
 'max_bal_bc',
 'all_util',
 'total_rev_hi_lim',
 'inq_fi',
 'total_cu_tl',
 'inq_last_12m',
 'acc_open_past_24mths',
 'avg_cur_bal',
 'bc_open_to_buy',
 'bc_util',
 'chargeoff_within_12_mths',
 'delinq_amnt',
 'mo_sin_old_il_acct',
 'mo_sin_old_rev_tl_op',
 'mo_sin_rcnt_rev_tl_op',
 'mo_sin_rcnt_tl',
 'mort_acc',
 'mths_since_recent_bc',
 'mths_since_recent_bc_dlq',
 'mths_since_recent_inq',
 'mths_since_recent_revol_delinq',
 'num_accts_ever_120_pd',
 'num_actv_bc_tl',
 'num_actv_rev_tl',
 'num_bc_sats',
 'num_bc_tl',
 'num_il_tl',
 'num_op_rev_tl',
 'num_rev_accts',
 'num_rev_tl_bal_gt_0',
 'num_sats',
 'num_tl_120dpd_2m',
 'num_tl_30dpd',
 'num_tl_90g_dpd_24m',
 'num_tl_op_past_12m',
 'pct_tl_nvr_dlq',
 'percent_bc_gt_75',
 'pub_rec_bankruptcies',
 'tax_liens',
 'tot_hi_cred_lim',
 'total_bal_ex_mort',
 'total_bc_limit',
 'total_il_high_credit_limit',
 'revol_bal_joint',
 'sec_app_earliest_cr_line',
 'sec_app_inq_last_6mths',
 'sec_app_mort_acc',
 'sec_app_open_acc',
 'sec_app_revol_util',
 'sec_app_open_act_il',
 'sec_app_num_rev_accts',
 'sec_app_chargeoff_within_12_mths',
 'sec_app_collections_12_mths_ex_med',
 'sec_app_mths_since_last_major_derog',
 'hardship_flag',
 'hardship_type',
 'hardship_reason',
 'hardship_status',
 'deferral_term',
 'hardship_amount',
 'hardship_start_date',
 'hardship_end_date',
 'payment_plan_start_date',
 'hardship_length',
 'hardship_dpd',
 'hardship_loan_status',
 'orig_projected_additional_accrued_interest',
 'hardship_payoff_balance_amount',
 'hardship_last_payment_amount',
 'disbursement_method',
 'debt_settlement_flag',
 'debt_settlement_flag_date',
 'settlement_status',
 'settlement_date',
 'settlement_amount',
 'settlement_percentage',
 'settlement_term']

In [18]:
df['loan_status'].value_counts()

loan_status
Fully Paid                                             1041952
Current                                                 919695
Charged Off                                             261655
Late (31-120 days)                                       21897
In Grace Period                                           8952
Late (16-30 days)                                         3737
Does not meet the credit policy. Status:Fully Paid        1988
Does not meet the credit policy. Status:Charged Off        761
Default                                                     31
Name: count, dtype: int64

In [19]:
bad_status = [
    "Charged Off",
    "Default",
    "Late (31-120 days)",
    "Late (16-30 days)",
    "Does not meet the credit policy. Status:Charged Off"
]

df['default'] = df['loan_status'].apply(lambda x: 1 if x in bad_status else 0)

df['default'].value_counts()

default
0    1972587
1     288081
Name: count, dtype: int64

In [20]:
cols_to_drop = [
    'id', 'member_id', 'emp_title', 'title', 'url', 'desc', 'zip_code',
    'issue_d', 'earliest_cr_line', 'last_pymnt_d', 'next_pymnt_d', 'last_credit_pull_d',
    'out_prncp', 'out_prncp_inv', 'total_pymnt', 'total_pymnt_inv', 
    'total_rec_prncp', 'total_rec_int', 'total_rec_late_fee', 
    'recoveries', 'collection_recovery_fee', 'last_pymnt_amnt',
    'loan_status'   # we replaced this with the target column
]

df = df.drop(columns=[c for c in cols_to_drop if c in df.columns])
df.shape

(2260668, 123)

In [21]:
df.isna().sum().sort_values(ascending=False).head(30)

orig_projected_additional_accrued_interest    2252242
hardship_amount                               2250055
hardship_status                               2250055
payment_plan_start_date                       2250055
hardship_last_payment_amount                  2250055
hardship_payoff_balance_amount                2250055
hardship_loan_status                          2250055
hardship_type                                 2250055
hardship_dpd                                  2250055
hardship_start_date                           2250055
hardship_end_date                             2250055
hardship_reason                               2250055
deferral_term                                 2250055
hardship_length                               2250055
settlement_term                               2227612
debt_settlement_flag_date                     2227612
settlement_status                             2227612
settlement_date                               2227612
settlement_amount                             2227612
settlement_percentage                         2227612
sec_app_mths_since_last_major_derog           2224726
sec_app_revol_util                            2154484
revol_bal_joint                               2152648
sec_app_earliest_cr_line                      2152647
sec_app_inq_last_6mths                        2152647
sec_app_chargeoff_within_12_mths              2152647
sec_app_collections_12_mths_ex_med            2152647
sec_app_open_act_il                           2152647
sec_app_num_rev_accts                         2152647
sec_app_open_acc                              2152647
dtype: int64

In [22]:
df['default'].value_counts()

default
0    1972587
1     288081
Name: count, dtype: int64

In [23]:
df.isna().sum().sort_values(ascending=False).head(40)

orig_projected_additional_accrued_interest    2252242
hardship_amount                               2250055
hardship_status                               2250055
payment_plan_start_date                       2250055
hardship_last_payment_amount                  2250055
hardship_payoff_balance_amount                2250055
hardship_loan_status                          2250055
hardship_type                                 2250055
hardship_dpd                                  2250055
hardship_start_date                           2250055
hardship_end_date                             2250055
hardship_reason                               2250055
deferral_term                                 2250055
hardship_length                               2250055
settlement_term                               2227612
debt_settlement_flag_date                     2227612
settlement_status                             2227612
settlement_date                               2227612
settlement_amount                             2227612
settlement_percentage                         2227612
sec_app_mths_since_last_major_derog           2224726
sec_app_revol_util                            2154484
revol_bal_joint                               2152648
sec_app_earliest_cr_line                      2152647
sec_app_inq_last_6mths                        2152647
sec_app_chargeoff_within_12_mths              2152647
sec_app_collections_12_mths_ex_med            2152647
sec_app_open_act_il                           2152647
sec_app_num_rev_accts                         2152647
sec_app_open_acc                              2152647
sec_app_mort_acc                              2152647
verification_status_joint                     2144938
dti_joint                                     2139962
annual_inc_joint                              2139958
mths_since_last_record                        1901512
mths_since_recent_bc_dlq                      1740967
mths_since_last_major_derog                   1679893
mths_since_recent_revol_delinq                1520309
mths_since_last_delinq                        1158502
il_util                                       1068850
dtype: int64

In [24]:
cols_to_drop_missing = [
    "orig_projected_additional_accrued_interest",
    "hardship_amount", "hardship_status", "payment_plan_start_date",
    "hardship_last_payment_amount", "hardship_payoff_balance_amount",
    "hardship_loan_status", "hardship_type", "hardship_dpd",
    "hardship_start_date", "hardship_end_date", "hardship_reason",
    "hardship_length", "deferral_term",
    "settlement_term", "debt_settlement_flag_date", "settlement_status",
    "settlement_date", "settlement_amount", "settlement_percentage",
    "sec_app_mths_since_last_major_derog", "sec_app_revol_util", "revol_bal_joint",
    "sec_app_earliest_cr_line", "sec_app_inq_last_6mths",
    "sec_app_chargeoff_within_12_mths", "sec_app_collections_12_mths_ex_med",
    "sec_app_open_act_il", "sec_app_num_rev_accts", "sec_app_open_acc",
    "sec_app_mort_acc", "verification_status_joint", "dti_joint", "annual_inc_joint"
]

df = df.drop(columns=[c for c in cols_to_drop_missing if c in df.columns])
df.shape

(2260668, 89)

In [25]:
cols_to_drop_leakage = [
    'id', 'member_id', 'emp_title', 'title', 'zip_code', 'url', 'desc',
    'issue_d', 'earliest_cr_line', 'last_pymnt_d', 'next_pymnt_d', 'last_credit_pull_d',
    'out_prncp', 'out_prncp_inv', 'total_pymnt', 'total_pymnt_inv', 
    'total_rec_prncp', 'total_rec_int', 'total_rec_late_fee',
    'recoveries', 'collection_recovery_fee', 'last_pymnt_amnt',
    'loan_status'
]

df = df.drop(columns=[c for c in cols_to_drop_leakage if c in df.columns])
df.shape

(2260668, 89)

In [26]:
import numpy as np

# Numeric columns → fill with median
num_cols = df.select_dtypes(include=[np.number]).columns
df[num_cols] = df[num_cols].fillna(df[num_cols].median())

# Categorical columns → fill with mode
cat_cols = df.select_dtypes(include=['object']).columns
df[cat_cols] = df[cat_cols].fillna(df[cat_cols].mode().iloc[0])

df.isna().sum().sort_values(ascending=False).head()

loan_amnt          0
funded_amnt        0
funded_amnt_inv    0
term               0
int_rate           0
dtype: int64

In [27]:
df.isna().sum().sort_values(ascending=False).head(5)

loan_amnt          0
funded_amnt        0
funded_amnt_inv    0
term               0
int_rate           0
dtype: int64

In [1]:
import os
os.listdir("../models")

['logreg_model.pkl', 'rf_model.pkl', 'xgb_model.pkl']